{% extends "base.html" %} {% block content %}

      <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{url_for('static', filename='images/415779.jpg') }}" class="d-block w-100" aria-hidden="true" width="100%" height="50%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='images/48604.jpg') }}" class="d-block w-100" aria-hidden="true" width="100%" height="50%" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{url_for('static', filename='images/medicine.jpg') }}" class="d-block w-100" aria-hidden="true" width="100%" height="50%" alt="...">
                
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      
      
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
      
        <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140"  role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/breast.svg') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">
              <h2>Breast Cancer</h2>
                <p>Breast Cancer occurs when some breast cells grow abnornally and gets too out of hand. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/bcancer" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/diabetes-icon.jpg') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">              
              <h2>Diabetes</h2>
                <p>Diabetes occur when there is too much blood sugar in the body. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/diabetes" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/heart-icon.jpg') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">      
              <h2>Heart Failure</h2>
                <p>Heart Failure generally means that the heart will stop working where generally most common ways is that of blocked arteries. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/heart" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      
      <div class="container marketing">
      
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/kidney-icon.png') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">      
              <h2>Kidney Failure</h2>
                <p>Renal failure mean that one of your kidney has or will stop working and the blood is not getting filtered properly. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/kidney" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/liver.svg') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">      
              <h2>Liver Disease</h2>
                <p>Liver disease is any disturbance of liver function that causes illness. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/liver" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class = "rounded-circle" width="140" height="140" src="{{url_for('static', filename='images/684052.svg') }}" alt="" preserveAspectRatio="xMidYMid slice" focusable="false">      
              <h2>Lung Cancer</h2>
                <p>Lung cancer begins in the lungs and most often occurs in people who smoke. Check now with this new web app your chances of getting the diease and remain worry free!</p>
              <p><a class="btn btn-secondary" href="/lung" role="button">Check Now! &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
      
          <!-- START THE FEATURETTES -->
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Accurate, Fast and Data driven models. <span class="text-muted">It’ll blow your mind.</span></h2>
              <p class="lead">We aim only for the best of all. So we have the most accurate models with no less than 80% accuracy upto 100% accurate models.</p>
            </div>
            <div class="col-md-5">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{url_for('static', filename='images/ai.jpg') }}" alt="">
      
            </div>
          </div>
      
          <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Its free and is at the palm of your hand. <span class="text-muted">See for yourself.</span></h2>
              <p class="lead">As getting proper healthcare is difficult is remote areas, So I aim to bring this to every nook and corner of the world so that everyone can have access to the top quality healthcare they deserve.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{url_for('static', filename='images/ww.jpg') }}" alt="">
            </div>
          </div>
      
          <hr class="featurette-divider">
    
      
          <!-- /END THE FEATURETTES -->
      
        </div><!-- /.container -->
      
      </main>
{% endblock %}